/* ===========================
   GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@500;700&display=swap');

/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#050816;

    color:#fff;

    overflow-x:hidden;

    min-height:100vh;

    position:relative;
}

/* ===========================
   LINKS
=========================== */

a{

    text-decoration:none;

    color:inherit;
}

button{

    border:none;

    cursor:pointer;

    font-family:inherit;
}

/* ===========================
   GLOBAL CONTAINER
=========================== */

.container{

    width:min(90%,1300px);

    margin:auto;
}

/* ===========================
   TYPOGRAPHY
=========================== */

h1,h2,h3,h4{

    font-family:'Space Grotesk',sans-serif;

    font-weight:700;
}

p{

    color:#A9B3C1;

    line-height:1.8;
}

/* ===========================
   BUTTONS
=========================== */

.primary-btn{

    background:linear-gradient(
    135deg,
    #6C63FF,
    #00D4FF
    );

    color:white;

    padding:16px 36px;

    border-radius:50px;

    font-size:17px;

    font-weight:600;

    transition:.35s;

    box-shadow:

    0 0 30px rgba(108,99,255,.35);
}

.primary-btn:hover{

    transform:translateY(-6px);

    box-shadow:

    0 15px 40px rgba(0,212,255,.45);
}

.secondary-btn{

    background:transparent;

    color:white;

    border:1px solid rgba(255,255,255,.2);

    padding:16px 36px;

    border-radius:50px;

    font-size:17px;

    transition:.35s;

    backdrop-filter:blur(10px);
}

.secondary-btn:hover{

    background:rgba(255,255,255,.08);

    transform:translateY(-6px);
}

/* ===========================
   GLASS EFFECT
=========================== */

.glass{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.12);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    box-shadow:

    0 10px 40px rgba(0,0,0,.35);
}

/* ===========================
   SECTION SPACING
=========================== */

section{

    width:100%;

    padding:120px 8%;
}

/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar{

    width:10px;
}

::-webkit-scrollbar-track{

    background:#050816;
}

::-webkit-scrollbar-thumb{

    background:#6C63FF;

    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{

    background:#00D4FF;
}